body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.section1{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
#hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(orange tomato);
    color: rgb(41, 24, 24);
    border: rgb(248, 1, 1);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
}