body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
    width: 100%;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red,blue );
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
