body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    text-align: justify;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
.flexible{
    display: flex;
    width: 100%;
    padding-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red,blue );
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.footer-color{
    color: rgb(238, 107, 0);
}
.box-shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    box-shadow: 10px 10px 30px gray;
}
#full-stack{ 
    border-left: 7px solid;
    border-image:linear-gradient(45deg,red,blue);
    border-image-slice: 1;
}

#web-devoloper{
    border-left: 7px solid;
    border-image:linear-gradient(45deg,rgb(10, 214, 119),rgb(134, 30, 231));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}