body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(red blue);
    padding: 10px 40px;
    color: rgb(41, 24, 24);
    font-weight: 700;
    border-radius: 10px;
}
.section-one{
    background-image: url(images/top-banner.png);
}